document,
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #eeeeee;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  border: none;
}

/*****************/

.menu-opener {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;
  width: 120px;
  height: 30px;
  background: #2a2e2b;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow .2s;
}

.menu-opener:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
}

/*****************/

.page {
  padding: 40px 0;
  box-sizing: border-box;
}

.page__main {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 482px;
}

.main {
  padding: 20px 20px 20px 160px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, .5);
  position: relative;
}

.main__menu {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 1;
  margin: 0;
}

/*****************/

.page-title {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  padding: 10px 0 20px 10px;
}

/*****************/

.menu {
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 150px;
  background: #2a2e2b;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

.menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #4b524d;
}

.menu__item:first-child {
  border-top: 1px solid #4b524d;
}

.menu__item_contacts {
  border-top: 1px solid #4b524d;
  margin-top: 60px;
  font-style: italic;
}

.menu__link {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  transition: padding-left .2s;
  cursor: pointer;
}

.menu__item_opened > .menu__submenu {
  display: block;
  border-top: 1px solid #4b524d;
}

.menu__item:hover > .menu__link,
.menu__item_opened > .menu__link {
  padding-left: 15px;
}

.menu__link_highlighted_new {
  background: url(./images/menu__link_highlighted_new.svg) right center no-repeat;
  background-size: 18px;
  color: #0df319;
}

.menu__link_highlighted_action {
  background: url(./images/menu__link_highlighted_action.svg) right center no-repeat;
  background-size: 18px;
  color: #85baf7;
}

.menu__submenu {
  display: none;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  list-style: none;
}

.menu__submenu .menu__item {
  border-top: none;
  border-bottom: 1px solid #4b524d;
}

.menu__submenu .menu__item:last-child {
  border-bottom: none;
}

.menu__submenu .menu__link {
  font-size: 14px;
}

/*****************/

.menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

/*****************/

.goods-list::after {
  content: '';
  display: block;
  clear: both;
}

.goods-list_catalog-root .goods-list__item {
  text-align: center;
}

.goods-list__item {
  width: 25%;
  box-sizing: border-box;
  float: left;
}

/*****************/

.good-card {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.good-card:hover {
  box-shadow: 0 0 7px -2px rgba(0, 0, 0, .2);
  border-color: transparent;
}

.good-card__image {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.good-card__image > img {
  width: 100%;
  height: 100%;
}

.good-card__name {
  font-size: 16px;
  font-weight: 400;
  color: #2a2e2b;
  height: 38px;
  overflow: hidden;
}

.good-card__price {
  font-size: 20px;
  font-weight: 500;
  color: #2a2e2b;
  margin-top: 4px;
  color: #f00;
}

.good-card__badge {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  padding: 2px 0;
  font-weight: 300;
  border-radius: 3px;
  color: #000;
}

.good-card__badge_type_new {
  background: #0df319;
}

.good-card__badge_type_action {
  background: #85baf7;
}

/*****************/

.options-list__item {
  font-size: 14px;
  font-weight: 300;
  color: #2a2e2b;
  padding: 4px;
}

.options-list__item::after {
  content: '';
  display: block;
  clear: both;
}

.options-list__item_foggy {
  background: #eee;
}

.options-list__item_highlighted {
  font-weight: 500;
}

.options-list__item-name {
  float: left;
}

.options-list__item-value {
  float: right;
}

/*****************/

.breadcrumbs {
  padding: 0 0 20px 10px;
}

.breadcrumbs::after {
  content: '';
  display: block;
  clear: both;
}

.breadcrumbs__item {
  float: left;
}

.breadcrumbs__item::after {
  content: '/';
  display: block;
  padding: 0 5px;
  float: left;
  font-size: 14px;
  font-weight: 100;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 100;
  color: #2a2e2b;
}

.breadcrumbs__link:hover {
  text-decoration: none;
}

/*****************/

.good-view__price {
  font-size: 30px;
  color: #f00;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
}

.good-view__image-list::after {
  content: '';
  display: block;
  clear: both;
}

.good-view__image {
  width: 25%;
  padding: 5px;
  float: left;
  box-sizing: border-box;
  background: #fff;
}

.good-view__options-list {
  padding: 0 10px;
}

/*****************/

.good-preview {
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform .2s;
}

.good-preview:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.good-preview > img {
  width: 100%;
  height: 100%;
}

/*****************/


.photo-view {
  display: none;
}

.photo-view__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.photo-view__window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  background: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

.photo-view_opened {
  display: block;
}

.photo-view img {
  width: 100%;
  height: 100%;
}

/*****************/

.dialog-closer {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url(./images/dialog-closer.svg);
  cursor: pointer;
}

/*****************/

.contacts {
  padding: 0 10px;
  font-size: 16px;
  color: #2a2e2b;
  font-weight: 300;
}

.contacts__phone {
  padding: 10px 0;
}

.contacts__phone-link {
  font-size: 20px;
  font-weight: 300;
  color: #f00;
  text-decoration: none;
}

.contacts__phone-caption {
  font-style: italic;
}

/*****************/

.liveinternet-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15px;
}

.liveinternet-counter a {
  display: inline-block;
  height: 100%;
  width: 22px;
  overflow: hidden;
  text-decoration: none;
}

/*****************/

@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }

  .page {
    padding: 0 0 60px;
  }

  .main {
    padding: 10px 10px 10px 150px;
    box-shadow: none;
  }

  .menu {
    padding-bottom: 0;
  }

  .goods-list__item {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .main {
    height: 100%;
    padding: 10px;
  }

  .main__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu {
    position: relative;
    overflow: auto;
    display: none;
    width: 200px;
    height: 100%;
    padding: 0;
    z-index: 1;
  }

  .menu__link_highlighted {
    background-position: right 10px center;
  }

  .main__menu_opened {
    width: 100%;
    height: 100%;
  }

  .main__menu_opened .menu,
  .main__menu_opened .menu-overlay {
    display: block;
  }

  .main__menu_opened .menu-opener {
    display: none;
  }

  .menu-opener {
    display: block;
  }

  .good-card__name {
    font-size: 14px;
    height: 34px;
  }

  .good-card__price {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .goods-list_catalog-root .goods-list__item {
    text-align: left;
  }

  .goods-list_catalog-root .good-card {
    height: 80px;
  }

  .goods-list_catalog-root .good-card__image {
    width: 70px;
    height: 70px;
  }

  .goods-list_catalog-root .good-card__details {
    margin-left: 90px;
  }

  .goods-list__item {
    float: none;
    width: auto;
    padding: 2px 0;
  }

  .good-card {
    position: relative;
    height: auto;
    padding: 5px 0;
  }

  .good-card__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 122px;
    height: 122px;
    padding: 0;
  }

  .good-card__heading {
    padding-bottom: 5px;
  }

  .good-card__name {
    font-size: 16px;
    height: auto;
  }

  .good-card__details {
    margin-left: 144px;
  }

  .page-title,
  .breadcrumbs {
    padding-left: 0;
  }

  .good-view__image {
    width: 50%;
    padding: 0 10px 10px 0;
  }

  .good-view__price {
    padding-left: 0;
  }

  .good-view__options-list {
    padding-left: 0;
    padding-bottom: 10px;
  }

  .contacts {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .good-card__image {
    width: 80px;
    height: 80px;
  }

  .good-card__details {
    margin-left: 100px;
    padding-top: 0;
  }

  .page-title {
    font-size: 20px;
  }

  .breadcrumbs__item::after,
  .breadcrumbs__link {
    font-size: 12px;
  }

  .good-card__badge {
    top: 5px;
    left: 5px;
    font-size: 12px;
    width: 60px;
  }
}

@media screen and (max-width: 400px) {
  .page__main {
    min-height: 400px;
  }

  .good-card__name {
    font-size: 14px;
  }

  .good-card__price {
    padding-top: 5px;
    font-size: 14px;
  }
}
