document,
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #eeeeee;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/*****************/

.menu-opener {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;
  width: 120px;
  height: 30px;
  background: #2a2e2b;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow .2s;
}

.menu-opener:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
}

/*****************/

.page {
  padding: 0 0 40px;
  box-sizing: border-box;
}

.page__header {
  margin: 0 auto;
  max-width: 1000px;
}

.page__main {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 482px;
}

.page__logo {
  float: left;
}

.page__phone {
  float: right;
}

/*****************/

.header {
  padding: 10px 10px 20px;
  box-sizing: border-box;
}

.header::after {
  content: '';
  display: block;
  clear: both;
}

/*****************/

.main {
  padding: 20px 20px 20px 160px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, .5);
  position: relative;
}

.main__menu {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 1;
  margin: 0;
}

/*****************/

.logo {
  font-size: 40px;
  color: #2a2e2b;
  font-weight: 100;
}

/*****************/

.phone {
  padding-top: 10px;
  text-align: right;
}

.phone__number {
  font-size: 24px;
  font-weight: 300;
  color: #2a2e2b;
  text-decoration: none;
}

.phone__caption {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #2a2e2b;
}

.page__sidebar {
  margin: 0;
}

/*****************/

.page-title {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  padding: 0 0 0 10px;
}

/*****************/

.menu {
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 150px;
  background: #2a2e2b;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

.menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid #4b524d;
}

.menu__item:last-child {
  border-bottom: 1px solid #4b524d;
}

.menu__link {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  transition: padding-left .2s;
  cursor: pointer;
}

.menu__item_opened > .menu__submenu {
  display: block;
  border-top: 1px solid #4b524d;
}

.menu__item:hover > .menu__link,
.menu__item_opened > .menu__link {
  padding-left: 15px;
}

.menu__link_highlighted {
  font-style: italic;
  font-weight: 500;
  color: #b5f4ff;
  background: url(./images/menu__link_highlighted.svg) right center no-repeat;
  background-size: 18px;
}

.menu__submenu {
  display: none;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  list-style: none;
}

.menu__submenu .menu__item {
  border-top: none;
  border-bottom: 1px solid #4b524d;
}

.menu__submenu .menu__item:last-child {
  border-bottom: none;
}

.menu__submenu .menu__link {
  font-size: 14px;
}

/*****************/

.menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

/*****************/

.goods-list::after {
  content: '';
  display: block;
  clear: both;
}

.goods-list__item {
  width: 25%;
  box-sizing: border-box;
  float: left;
}

/*****************/

.good-card {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  padding: 10px;
}

.good-card:hover {
  box-shadow: 0 0 7px -2px rgba(0, 0, 0, .2);
  border-color: transparent;
}

.good-card__image {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.good-card__image > img {
  width: 100%;
  height: 100%;
}

.good-card__name {
  font-size: 16px;
  font-weight: 400;
  color: #2a2e2b;
  height: 38px;
  overflow: hidden;
}

.good-card__price {
  font-size: 20px;
  font-weight: 500;
  color: #2a2e2b;
  margin-top: 4px;
  color: #f00;
}

.good-card__options-item {
  font-size: 12px;
  font-weight: 300;
  color: #2a2e2b;
  padding: 4px;
}

.good-card__options-item::after {
  content: '';
  display: block;
  clear: both;
}

.good-card__options-item_foggy {
  background: #eee;
}

.good-card__option-name {
  float: left;
}

.good-card__option-value {
  float: right;
}

/*****************/

.breadcrumbs {
  padding: 10px 0 20px 10px;
}

.breadcrumbs::after {
  content: '';
  display: block;
  clear: both;
}

.breadcrumbs__item {
  float: left;
}

.breadcrumbs__item::after {
  content: '/';
  display: block;
  padding: 0 5px;
  float: left;
  font-size: 14px;
  font-weight: 100;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 100;
  color: #2a2e2b;
}

.breadcrumbs__link:hover {
  text-decoration: none;
}

/*****************/

.liveinternet-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15px;
}

.liveinternet-counter a {
  display: inline-block;
  height: 100%;
  width: 22px;
  overflow: hidden;
  text-decoration: none;
}

/*****************/

@media screen and (max-width: 1000px) {
  .main {
    padding: 10px 10px 10px 150px;
  }

  .goods-list__item {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .page {
    padding: 0 0 60px;
  }

  .main {
    padding: 10px;
  }

  .main__menu {
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu {
    position: relative;
    overflow: auto;
    display: none;
    width: 200px;
    height: 100%;
    padding: 0;
    z-index: 1;
  }

  .menu__link_highlighted {
    background-position: right 10px center;
  }

  .main__menu_opened {
    width: 100%;
    height: 100%;
  }

  .main__menu_opened .menu,
  .main__menu_opened .menu-overlay {
    display: block;
  }

  .main__menu_opened .menu-opener {
    display: none;
  }

  .menu-opener {
    display: block;
  }

  .good-card__name {
    font-size: 14px;
    height: 34px;
  }

  .good-card__price {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 30px;
  }

  .phone {
    padding-top: 0;
  }

  .phone__number {
    font-size: 18px;
  }

  .phone__number-caption {
    font-size: 12px;
  }

  .goods-list__item {
    float: none;
    width: auto;
    padding: 2px 0;
  }

  .good-card {
    position: relative;
    height: auto;
    padding: 5px 0;
  }

  .good-card__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 122px;
    height: 122px;
    padding: 0;
  }

  .good-card__heading {
    padding-bottom: 5px;
  }

  .good-card__name {
    font-size: 16px;
    height: auto;
  }

  .good-card__details {
    margin-left: 144px;
  }

  .page-title,
  .breadcrumbs {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .good-card__image {
    width: 80px;
    height: 80px;
  }

  .good-card__details {
    margin-left: 100px;
    padding-top: 0;
  }

  .page-title {
    font-size: 20px;
  }

  .breadcrumbs__item::after,
  .breadcrumbs__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .page__logo,
  .phone {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .page__logo {
    margin-bottom: 10px;
  }

  .page__main {
    min-height: 400px;
  }

  .good-card__name {
    font-size: 14px;
  }

  .good-card__price {
    padding-top: 5px;
    font-size: 14px;
  }
}
